<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Applications</key>
	<dict/>
	<key>Build Version</key>
	<string>13G37</string>
	<key>Device Name</key>
	<string>Santas Phone</string>
	<key>Display Name</key>
	<string>Santas Phone</string>
	<key>GUID</key>
	<string>FAE633ADAB6B9777CD59DA12B747CE59</string>
	<key>IMEI</key>
	<string>013172009188964</string>
	<key>Installed Applications</key>
	<array/>
	<key>Last Backup Date</key>
	<date>2020-12-16T20:47:32Z</date>
	<key>Product Name</key>
	<string>iPhone 4S</string>
	<key>Product Type</key>
	<string>iPhone4,1</string>
	<key>Product Version</key>
	<string>9.3.6</string>
	<key>Serial Number</key>
	<string>DQGJ22F8DTD2</string>
	<key>Target Identifier</key>
	<string>5e8dfbc7f9f29a7645d66ef70b6f2d3f5dad8583</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>5e8dfbc7f9f29a7645d66ef70b6f2d3f5dad8583</string>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAAQfZqASNwrxe2oROVtE9nzfM0HHkOmD5ncUqhIJnjWcWgsbn3y+T3d9N
		jUeYAkZ8sTJZhxJP5veyEGCgPWIha77GBVM5MHVYr9P3nDyNF2Hk+BQ0e8bu
		be+WLAnzZdpTWhZavn7dakr7dNGqLAZBD0Vuq8w/y8Gv6Xb2ZKT8yzk5BZvn
		e8Tf9Z5IDgrDxz/hQB99xD6ECBayVMF1oycsIfcbZTqpEw3FYbpCQ/DD/prD
		xPjZaERidCUUpB4pKI4nKnLb2RX12WJeFvwkFMgQG50xN3iG9u5ff55Qt0ql
		r8GLeNqMC0Y1c2vE6NaB0qXmQzjSCLTpgHOsRybaz+L8ey7oRH2JKoBzCZxw
		Q0gE2BhKQjFXCODrpTHt/EfdzTtlDuBpkVbPPYH3FaL3go8RYAfLZErsf1bZ
		rOO6mOSeQZSrjj/Nrt0b+dKsGt1rb08Wxaz9Tm1UiA7lYVnJnXk4nQJdLzAD
		HHYIP6sBUkfk8OeG9+1ITw06KmP5pdU656GetA99T6MYiMhw7K4jJZT7HuzQ
		ha6O3g9l0Gk5W6QdCqzJFfkKIgd5EWIlk3ZEK9rlAy0M1rqD5mj60jxWVxd2
		vYqmrkJOLjAcu/B8f5s4ujp7LrnOeYvO+AjtPPQc9tw0hLSaLlxnffICw8pc
		1X3n4sU5TqjiKr2KcTrgyjHjNDJoPm71KD/w2rJewExCol/G5hm5N0qokFCQ
		alaeWjP9tyDQN2phH6cu3NUIXrP+2B7e73ZlZPfKOqEnY25hEyRRs5liaKJw
		3DCQJGdilsoHy3VbeqQ/QugDI1G7l+b1TcxRoCwXxZFbmnTBfXSntSeDvTna
		iAA5gziLTJYNOCspiNFCRnFRqR8CLJvB0KR6AGdURS4rkgNfYLMs1y/cqEJF
		8kIbVQW1/jn+APzWl/+4yBYH82BvUBbQ2Jasaf+p0z3mBAwiNDa5P27bzSuM
		BUNil8ANl3270Gq1r6d5pAu2kpE2EYfTWV86b4ca8LK08yB+FH1rUaLGbEKt
		0aVcn/KTVDnvjperQBJTJXEoKc6o5Im36csibjlbdIi0KrUo89ipgsLvzLFc
		wmTJF5ikwokGfJXUivskIlg5e23fhTwU3hVN0YPosVLBXB/AlAqKtQal75L/
		LPWS1dnRrGDHf9jHcHGCPhxOOreHULP4KQGq87vlhQKD2VjmV0zeSG7eq2Md
		y4IvuNv21MMD9RgiaSQjc7Gwdiitd4iLZvzoDvtJZUaJFcDXaCvi5Zk6fXKv
		/baSlXOIq4BMQrQze/6YO6GKKpwOBNjBLZIiTS/AK92mKOq9ham3n/2qDziV
		efycO415OfXyWttgXFpkZlDdrtlEBCWP+Cy0209BQEl2GL1kkluDOadKOIzR
		tgW4YhDSv3nEJlQYBAPatoUnQgWSxuGI+h9G2yH5SZCtNzP/9JGjLIbdrQmp
		0ZWvgSGhymNuws7tjTXAcmb/+52Iee05PHXvwz/s5zbelIklji1uwgJZ6xHp
		LwB9mRDyE9TeQyyAiRRV
		</data>
		<key>VoiceMemos.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdC8+CjwvcGxpc3Q+
		Cg==
		</data>
		<key>iTunesPrefs</key>
		<data>
		ZnJwZAEAGQABAQABX4Ya6DQuvjrUbwgK/PPKdwAAAAAAAAABAAAAAAAAAAAA
		AAAAAQAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAADWHqishO1b7AAB
		AAQAAAAAX4Ya6DQuvjoCAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAgAAAAEBAAAAAAAAAAAAAAEAAQAAAAEAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEdFaG+OxBBX6WCavcHd8XWo
		JyfdAAAAAAAAAAAAAAAAAAAAAP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAEAAAAAAAAADwAAAAAAAQABAAAAAAEBgAAAAAAAAQAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQWRtaW5pc3RyYXRvcgAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEhR
		TFRTQwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQWRtaW5pc3Ry
		YXRvcgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAEhRTFRTQwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABBZG1pbmlzdHJhdG9yAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAASFFMVFNDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAA=
		</data>
		<key>iTunesPrefs.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NU
		WVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VO
		IiAiaHR0cDovL3d3dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4w
		LmR0ZCI+CjxwbGlzdCB2ZXJzaW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QXVk
		aW9ib29rUGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PkF1ZGlv
		Ym9va1RyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Nb3ZpZVBsYXls
		aXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Nb3ZpZVRyYWNrSURzPC9r
		ZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FsYnVtSURzPC9rZXk+Cgk8YXJy
		YXkvPgoJPGtleT5NdXNpY0FydGlzdElEczwva2V5PgoJPGFycmF5Lz4KCTxr
		ZXk+TXVzaWNHZW5yZU5hbWVzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNp
		Y1BsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY1RyYWNr
		SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Qb2RjYXN0Q2hhbm5lbElEczwv
		a2V5PgoJPGFycmF5Lz4KCTxrZXk+UG9kY2FzdFBsYXlsaXN0SURzPC9rZXk+
		Cgk8YXJyYXkvPgoJPGtleT5Qb2RjYXN0VHJhY2tJRHM8L2tleT4KCTxhcnJh
		eS8+Cgk8a2V5PlRWU2hvd0FsYnVtSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtl
		eT5UVlNob3dOYW1lczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+VFZTaG93UGxh
		eWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd1RyYWNrSURz
		PC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5pUG9kUHJlZnM8L2tleT4KCTxkYXRh
		PgoJWm5Kd1pBRUFHUUFCQVFBQlg0WWE2RFF1dmpyVWJ3Z0svUFBLZHdBQUFB
		QUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFRQUEKCUFBQUNBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQVFBQUFBRFdIcWlzaE8xYjdBQUJBQVFBQUFBQVg0
		WWE2RFF1Cgl2am9DQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFCQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQWdBQUFBRUJBQUFB
		QUFBQUFBQUFBQUVBQVFBQUFBRUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBRWRGYUcrT3hCQlg2V0NhdmNIZDhYV29KeWZk
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBUDhBQUFBQUFBQUFBQUFBCglBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBRUFBQUFBQUFBQUR3QUFBQUFBQVFBQkFBQUFBQUVC
		Z0FBQUFBQUFBUUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQVFXUnRhVzVwYzNS
		eVlYUnZjZ0FBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUVoUlRGUlRRd0FBQUFB
		QQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQVFXUnRhVzVwYzNSeVlYUnZj
		Z0FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUVoUlRGUlRRd0FBQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJCWkcxcGJtbHpkSEpoCglkRzl5QUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQQoJQUFBQVNGRk1WRk5EQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUE9Cgk8L2RhdGE+Cgk8a2V5
		PmlUdW5lc1ZlcnNpb248L2tleT4KCTxzdHJpbmc+MTIuMTE8L3N0cmluZz4K
		PC9kaWN0Pgo8L3BsaXN0Pgo=
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict/>
	<key>iTunes Version</key>
	<string>12.11.0.26</string>
</dict>
</plist>
